body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:251px;
  width:951px;
  height:186px;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  text-align:left;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:66px;
  height:36px;
  text-align:left;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:94px;
  height:36px;
  text-align:left;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:176px;
  height:36px;
  text-align:left;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:172px;
  word-wrap:break-word;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:0px;
  width:71px;
  height:36px;
  text-align:left;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:0px;
  width:200px;
  height:36px;
  text-align:left;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:0px;
  width:117px;
  height:36px;
  text-align:left;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:0px;
  width:80px;
  height:36px;
  text-align:left;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:0px;
  width:97px;
  height:36px;
  text-align:left;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:36px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:36px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:36px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:36px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:36px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:36px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:36px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:66px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:66px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:66px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:66px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:66px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:66px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:66px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:66px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:96px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:96px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:96px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:96px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:96px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:96px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:96px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:96px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:126px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:126px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:126px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:126px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:126px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:126px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:126px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:126px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:156px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:156px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:156px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:156px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:156px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:156px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:156px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:156px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:175px;
  width:71px;
  height:17px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:172px;
  width:125px;
  height:22px;
}
#u2223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2223_input:disabled {
  color:grayText;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:175px;
  width:71px;
  height:17px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:172px;
  width:125px;
  height:22px;
}
#u2225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2225_input:disabled {
  color:grayText;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:172px;
  width:140px;
  height:22px;
  color:#999999;
  text-align:left;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u2227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:175px;
  width:57px;
  height:17px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:172px;
  width:56px;
  height:22px;
  color:#FFFFFF;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u2229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:172px;
  width:107px;
  height:22px;
  color:#FFFFFF;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:103px;
  word-wrap:break-word;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:2px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:140px;
  width:946px;
  height:1px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:99px;
  width:105px;
  height:39px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:99px;
  width:105px;
  height:39px;
  color:#FFFFFF;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:239px;
  width:596px;
  height:149px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  white-space:nowrap;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:161px;
  width:299px;
  height:17px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u2235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:193px;
  width:410px;
  height:33px;
  color:#FF0000;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:192px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#1E1E1E;
}
#u2236_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u2236_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:14px;
  width:756px;
  height:8px;
}
#u2236_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:317px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
