body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:251px;
  width:951px;
  height:186px;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  text-align:left;
}
#u2300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:66px;
  height:36px;
  text-align:left;
}
#u2301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:94px;
  height:36px;
  text-align:left;
}
#u2302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:176px;
  height:36px;
  text-align:left;
}
#u2303_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:172px;
  word-wrap:break-word;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:0px;
  width:71px;
  height:36px;
  text-align:left;
}
#u2304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:0px;
  width:200px;
  height:36px;
  text-align:left;
}
#u2305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:0px;
  width:117px;
  height:36px;
  text-align:left;
}
#u2306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:0px;
  width:80px;
  height:36px;
  text-align:left;
}
#u2307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u2308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:0px;
  width:97px;
  height:36px;
  text-align:left;
}
#u2308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u2309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:36px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:36px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:36px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:36px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:36px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:36px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:36px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:66px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:66px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:66px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:66px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2322_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:66px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2323_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:66px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2324_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:66px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:66px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:96px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:96px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:96px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:96px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:96px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:96px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:96px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:96px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:126px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:126px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2338_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:126px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:126px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:126px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:126px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:126px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:126px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:156px;
  width:66px;
  height:30px;
  text-align:left;
}
#u2346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:156px;
  width:94px;
  height:30px;
  text-align:left;
}
#u2347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:156px;
  width:176px;
  height:30px;
  text-align:left;
}
#u2348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:156px;
  width:71px;
  height:30px;
  text-align:left;
}
#u2349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:156px;
  width:200px;
  height:30px;
  text-align:left;
}
#u2350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:156px;
  width:117px;
  height:30px;
  text-align:left;
}
#u2351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:156px;
  width:80px;
  height:30px;
  text-align:left;
}
#u2352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:156px;
  width:97px;
  height:30px;
  text-align:left;
}
#u2353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:175px;
  width:71px;
  height:17px;
}
#u2354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:172px;
  width:125px;
  height:22px;
}
#u2355_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2355_input:disabled {
  color:grayText;
}
#u2356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:175px;
  width:71px;
  height:17px;
}
#u2356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:172px;
  width:125px;
  height:22px;
}
#u2357_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2357_input:disabled {
  color:grayText;
}
#u2358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:172px;
  width:140px;
  height:22px;
  color:#999999;
  text-align:left;
}
#u2358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:175px;
  width:57px;
  height:17px;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:172px;
  width:56px;
  height:22px;
  color:#FFFFFF;
}
#u2360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:172px;
  width:107px;
  height:22px;
  color:#FFFFFF;
}
#u2361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:103px;
  word-wrap:break-word;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:2px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:140px;
  width:946px;
  height:1px;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:99px;
  width:105px;
  height:39px;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:99px;
  width:105px;
  height:39px;
  color:#FFFFFF;
}
#u2364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u2365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:239px;
  width:596px;
  height:149px;
}
#u2365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  white-space:nowrap;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:161px;
  width:299px;
  height:17px;
}
#u2366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:193px;
  width:410px;
  height:33px;
  color:#FF0000;
}
#u2367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:192px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#1E1E1E;
}
#u2368_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u2368_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:14px;
  width:756px;
  height:8px;
}
#u2368_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u2368_text {
  border-width:0px;
  position:absolute;
  left:317px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
