body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:162px;
  width:77px;
  height:17px;
  text-align:right;
}
#u2069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:157px;
  width:250px;
  height:28px;
}
#u2070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:229px;
  width:77px;
  height:17px;
  text-align:right;
}
#u2071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:254px;
  width:100px;
  height:16px;
}
#u2072_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2072_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:254px;
  width:71px;
  height:17px;
}
#u2073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:2px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:269px;
  width:81px;
  height:1px;
}
#u2074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:254px;
  width:15px;
  height:17px;
}
#u2075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:285px;
  width:100px;
  height:16px;
}
#u2076_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2076_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:285px;
  width:71px;
  height:17px;
}
#u2077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:2px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:300px;
  width:81px;
  height:1px;
}
#u2078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:285px;
  width:15px;
  height:17px;
}
#u2079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:318px;
  width:100px;
  height:16px;
}
#u2080_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2080_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:318px;
  width:71px;
  height:17px;
}
#u2081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:2px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:333px;
  width:81px;
  height:1px;
}
#u2082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:318px;
  width:15px;
  height:17px;
}
#u2083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:351px;
  width:100px;
  height:16px;
}
#u2084_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2084_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:351px;
  width:71px;
  height:17px;
}
#u2085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:2px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:366px;
  width:81px;
  height:1px;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:351px;
  width:15px;
  height:17px;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:402px;
  width:77px;
  height:17px;
  text-align:right;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:439px;
  width:501px;
  height:118px;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  text-align:left;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:300px;
  height:36px;
  text-align:left;
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:151px;
  height:36px;
  text-align:left;
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:52px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:52px;
  text-align:left;
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:300px;
  height:52px;
  text-align:left;
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:52px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:36px;
  width:151px;
  height:52px;
  text-align:left;
}
#u2095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:50px;
  height:30px;
  text-align:left;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:88px;
  width:300px;
  height:30px;
  text-align:left;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:88px;
  width:151px;
  height:30px;
  text-align:left;
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:398px;
  width:76px;
  height:27px;
}
#u2099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u2100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:589px;
  width:76px;
  height:27px;
}
#u2100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u2101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:589px;
  width:76px;
  height:27px;
  color:#FFFFFF;
}
#u2101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u2102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:254px;
  width:465px;
  height:50px;
}
#u2102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  white-space:nowrap;
}
#u2103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:402px;
  width:520px;
  height:66px;
}
#u2103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  white-space:nowrap;
}
#u2104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:147px;
  width:169px;
  height:33px;
}
#u2104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:589px;
  width:418px;
  height:132px;
}
#u2105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:417px;
  height:19px;
}
#u2106p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:412px;
  height:6px;
}
#u2106p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:6px;
}
#u2106p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u2106p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2106p002 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:0px;
  width:4px;
  height:2px;
}
#u2106p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:410px;
  width:407px;
  height:1px;
}
#u2106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:342px;
  height:19px;
}
#u2107p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:336px;
  height:6px;
}
#u2107p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:6px;
}
#u2107p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u2107p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2107p002 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:4px;
  height:2px;
}
#u2107p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:602px;
  width:332px;
  height:1px;
}
#u2107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
