body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:323px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:323px;
}
#u3407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 123, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u3408 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:52px;
  width:395px;
  height:34px;
  color:#FFFFFF;
  text-align:left;
}
#u3408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:391px;
  word-wrap:break-word;
}
#u3409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3409 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:85px;
  width:395px;
  height:189px;
}
#u3409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u3410 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:61px;
  width:11px;
  height:17px;
  color:#FFFFFF;
  text-align:right;
}
#u3410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u3411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 123, 162, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:180px;
  width:66px;
  height:29px;
  color:#FFFFFF;
}
#u3411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u3412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3412 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:118px;
  width:127px;
  height:17px;
}
#u3412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3413 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:180px;
  width:69px;
  height:29px;
}
#u3413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u3414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3414 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:137px;
  width:300px;
  height:132px;
  font-size:14px;
}
#u3414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
